@charset "utf-8";

* {
    font-family: "나눔바른고딕", "나눔고딕", "돋움";
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

.clearfix:after {
    display: block;
    content: "";
    clear: both;
}

#container {
    max-width: 100%;

}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
}

.header_1 {min-width: 1200px;
    display: flex;
    justify-content: center;
    height: 51px;
    width: 100%;
    background-color: black;
}

.header_1 ul {
    align-items: center;
    display: flex;
    width: 1200px;
    justify-content: flex-end;
    top: 30%;
    right: 18%;
}

.header_1 ul li {
    font-size: 0.8em;
    margin-left: 23px;
}

.header_1 a {
    color: #fff;
}

.header_logo {min-width: 1200px;
    width: 100%;
    height: 181px;
    background-color: black;

}

.header_logo img {
    display: block;
    margin: 0 auto;

}

.header_2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 1200px;
    height: 78px;
}

.search_flex {
    position: relative;
    display: flex;
    width: 1200px;
}
/*.searchicon{
 background-image: url('wake_img/seach_icon.png');
    background-position:  2px 3px;
    background-repeat: no-repeat;
    width: 35px;
    height: 40px;
    border: 0px;
 cursor:pointer;
 outline: 0;
    border-radius: 8px;
}*/
.search-icon {
    top: 3px;
    position: absolute;
    left: 205px;
    padding: 2px;
    width: 30px;
    height: 30px;
    background-color: #fff;
}

.header_search {
    border: 1px solid #bababa;
    left: 18%;
    border-radius: 10px 10px 10px 10px;
    width: 242px;
    height: 38px;
}

.header_search:hover {
    cursor: text;
}

.header_search img {
    width: 12%;
    margin: 2%;
    float: right;
}

.header_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
}

.header_menu > li {
    width: 140px;
    text-align: center;
}

.header_menu > li > a {
    display: block;
    padding: 20px;
}

.header_menu a {
    color: #383838;
}

.menu_1 {
    display: none;
    position: absolute;
    z-index: 100;
    margin-top: 14px;
    width: 140px;
}

.menu_1 > li > a {
    z-index: 100;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
}

.menu_1 > li:hover {
    z-index: 100;
    background-color: #efefef;
}

.whitebox {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.white {
    display: none;
    position: absolute;
    z-index: 2;
    width: 1200px;
    border: 1px solid lightgray;
    height: 155px;
    background-color: white;
}

.image_slider {
    border-bottom: 3px solid lightgray;
    border-top: 4px solid #d4202b;
    width: 100%;
    min-width: 1200px;
    display: flex;
    z-index: 1;
    overflow: hidden;
}

.image_slider img {
    width: 100%;
    height: 100%;
}

.active {
    z-index: 1;
}

.bg_c {
    background-size: cover;
    position: absolute;
    background-image: url(wake_img/bg.jpg);
    width: 100%;
    height: 2543px;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.wrap_wrap {
    z-index: 99;
    width: 1200px;
}

.redline {
    margin-bottom: 10px;
}

.best {
     width: 100%;
    height: 942px;
}
.event {
    width: 100%;
    height: 795px;
}
.review {
    width: 100%;
    height: 688px;
}
.notice {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 117px;
}
.best_title,
.event_title,.review_title {
    padding: 70px 30px 70px 0px;
    width: 50%;
    left: 200px;
}

.subtitle {
    margin-left: 20px;
    display: inline-block;
}

.underline {
    width: 206px;
    height: 20px;
    background-size: contain;
    background-image: url(wake_img/underline.png);
    background-repeat: no-repeat;
}

.best h1,
p,
.event h1,
p,.review h1,p,.notice h1,p {
    color: #3c3c3c;
    display: inline-block;
    font-family: "나눔스퀘어", "돋움";
}

.week {
    font-size: 1.3rem;
}

.best h1,
.event h1,.review h1 {
    font-size: 3rem;
}

.best ul,
.event ul,.review ul {
    top: 230px;
    left: 200px;
    display: flex;
    justify-content: space-between;
}
.best ul li {padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 5px 10px 0px rgba(0,0,0,0.3);
    border: 0px solid lightgray;
}
.best_img {
    position: relative;
    background: url(wake_img/main_bestbox1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 234px;
    height: 235px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.best_img img {
    width: 110px;
}

.best_img h1 {
    position: absolute;
    top: 20px;
    left: 21px;
    font-size: 2rem;
}

.best_box {
    background: url(wake_img/main_bestbox.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 234px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.best_img img:hover {
    transition-duration: 0.3s;
    opacity: 0.5;
    width: 112px;
}

.best_img:hover {
    cursor: pointer;
}

.best_box p {
    font-family: "나눔바른고딕", "돋움";
    text-align: center;
    padding: 30px 10px 30px 10px;
    display: block;
    color: lightgray;
    font-size: 1rem;
}

.best_box h2,
h4 {
    color: #fff;
}

.best_box h4 {
    padding: 0px 40px 0px 40px;
    text-align: center;
    font-weight: 100;
    font-size: 1rem;
}

.best_box h2 {
    font-weight: 100;
    font-size: 1.3rem;
}

.event h1,
.event p {
    color: #fff;
}

.event p {
    font-weight: 100;
}

.event_box {

    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.reviewbox0 {
     display: flex; justify-content: center;
    align-items: center;
}
.review ul {
    width: 100%;
    background-color: lightgray;
    display: flex; justify-content: center;
    align-items: center;
    height: 400px;
    width: 900px;
    border-radius: 15px;
}
.review_box { border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 373px;
    background-color: white;
width: 747px;
}
.review_left {
    position: relative;
    width: 450px;
    height: 352px;
}
.review_right {
    position: relative;
  
}
.reimg {
    position: absolute;
}
.reimg1 {
    left: 3px;
    top: 3px;
}

.reimg2 {
    left: 3px;
    top: 215px;
}
.reimg3 {
    left: 229px;
    top: 3px;
}
.reimg4 {
    top: 215px;
    left: 278px;
}

.reimg5 {
    height: 349px;
}
p.reimg1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    width: 221px;
    height: 207px;
    color: white;
    opacity: 0;
}
p.reimg1:hover {
    transition-duration: 0.5s ;
    opacity: 1;
}
p.reimg2 {display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    color: white;
    opacity: 0;
    width: 271px;
    height: 134px;
    left: 3px;
    top: 215px;
}p.reimg2:hover {
    transition-duration: 0.5s ;
    opacity: 1;
}
p.reimg3 {display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    color: white;
    opacity: 0;
    width: 217px;
    height: 208px;
     left: 229px;
    top: 3px;
}p.reimg3:hover {
    transition-duration: 0.5s ;
    opacity: 1;
}p.reimg4 {display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    color: white;
    opacity: 0;
    width: 167px;
    height: 134px;
     top: 215px;
    left: 278px;
}p.reimg4:hover {
    transition-duration: 0.5s ;
    opacity: 1;
}
p.reimg5 {display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    color: white;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 272px;
    height: 349px;
}

p.reimg5:hover {
    transition-duration: 0.5s ;
    opacity: 1;
}
.review_box span {
    margin: 10%;
    padding: 5%;
    border: 2px solid #fff;
    font-size: 0.8em;
    line-height: 2em;
}
.notice h1 {
    color: #fff;
    font-size: 2em;
}
.notice p {
    color: #fff;
}
.not_sub p:hover {
    transition-duration: 0.2s;
    color: gray;
}
.not_contents {
    width: 600px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 53px;
    left: 260px;
}
.notice .more {
    position: absolute;
    right: 0;
    background-color: gray;
    padding: 5px;
}
footer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: #000;
  width: 100%;
    
}
footer p {font-size: 0.6em;
    text-align: center;
    margin: 80px;
}
footer .sns {
  
    margin: 0 auto;  margin-top: 80px;
  
}
footer .sns img {
    height: 50px;
    margin: 50px;
}