@charset "utf-8";

* {
    font-family: "나눔바른고딕","나눔고딕","돋움";
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
.clearfix:after {
    display: block; content: ""; clear: both;
}
#container {
max-width: 100%;
    border: 1px solid blue;
}
header {
    display: flex;
   align-items: center;
    flex-direction: column;
    max-width: 100%;
}
.header_1 {
display: flex;
    justify-content: center;
    height: 51px;
 width: 100%;
background-color: black;
}
.header_1 ul {
    align-items: center;
    display: flex;
    width: 1200px;
    justify-content: flex-end;
    top: 30%;
    right: 18%;
}
.header_1 ul li {
    font-size: 0.8em;margin-left: 23px;
}
.header_1 a {
    color: #fff;
}
.header_logo {
    width: 100%;
    height: 181px;
    background-color: black;
    
}
.header_logo img {
    display: block;
    margin: 0 auto;

}
.header_2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 1200px;
    height: 78px;
}
.search_flex  {
    display: flex;
    width: 1200px;
}
.header_search {
    border: 1px solid #bababa;
    left: 18%;
    border-radius: 10px 10px 10px 10px;
    width: 242px;
    height: 38px;
}
.header_search:hover {
    cursor: text;
}
.header_search img {
    width: 12%;
    margin: 2%;
    float: right;
}
.header_menu {display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
}
.header_menu>li {
    width: 140px;
    text-align: center;
}

.header_menu>li>a {
    display: block;
  padding: 20px;
}
.header_menu a {
    color: #383838;
}
.menu_1 {display: none;
    position: absolute;
        z-index: 100;
    margin-top: 14px;
    width: 140px;
}
.menu_1>li>a {  z-index: 100;
    display: block;
   padding-top: 15px;
    padding-bottom: 15px;
}
.menu_1>li:hover {  z-index: 100;
   background-color: #efefef;
}
.whitebox {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.white { display: none;
    position: absolute;
    z-index: 2;
    width: 1200px;
    border: 1px solid lightgray;
    height: 155px;
    background-color: white;
}
.image_slider {
    border-bottom: 3px solid lightgray;
    border-top: 4px solid #d4202b;
    width: 100%;
    display: flex; z-index:1;
    overflow: hidden;
}
.image_slider img {
    width: 100%;height: 100%;
}

.active {
    z-index: 1;
}
.bg_c {
 background-size: cover;
    position: absolute;
    border: 1px solid #000;
    background-image: url(wake_img/bg.jpg);
    width: 100%;
    height: 2000px;
}
.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid green;
}
.wrap_wrap {
    width: 1200px;
}
.best {
    width: 100%;
	height:850px;
}
.best_title {
    padding: 40px 30px 70px 0px;
    width: 50%;
    left: 200px;
}
.best h1,p {color: #3c3c3c;
    display: inline-block;
    font-family: "나눔스퀘어","돋움";
}
.best h1 {
    font-size: 2.6rem;
}
.best ul {top: 230px;
   left: 200px;
    display: flex;
    justify-content: space-between;
}
.best_img {
    position: relative;
    background: url(wake_img/main_bestbox1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 301px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.best_img h1 {
    position: absolute;
    top: 30px;
    left: 26px;
}
.best_box {
    background: url(wake_img/main_bestbox.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 302px;
    height: 306px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.best_box p {
    font-family: "나눔바른고딕","돋움";
    text-align:center;
    padding: 30px 10px 50px 10px;
    display: block;
    color: #ffd4d4;
}
.best_box h2,h4 {
    color: #fff;
}
.best_box h4 {padding: 0px 40px 0px 40px;
    text-align: center;  font-weight: 100;
    font-size: 1.2rem;
}
.best_box h2 {
    font-weight: 100;
    font-size: 1.7rem;
}